<!DOCTYPE html>
<html>
<body>

<h1>file upload</h1>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="file" name="file"/><br/><br/>
    <input type="text" name="desc"/><br/><br/>
    <button value="Submit" id="btnSubmit">Submit</button>
</form>

<h1>Result</h1>
<pre>
    <span id="result"></span>
</pre>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>